@charset "utf-8";

/* fonts 구글 */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */


/* fonts */
/* @font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-Thin.woff2") format("woff2"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}  
@font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}  
@font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-DemiLight.woff2") format("woff2"), url("../fonts/NotoSansKR-DemiLight.woff") format("woff"), url("../fonts/NotoSansKR-DemiLight.ttf") format("truetype");
    font-weight: 350;
    font-style: normal;
}  
@font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}  
@font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}  
@font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-Black.woff2") format("woff2"), url("../fonts/NotoSansKR-Black.woff") format("woff"), url("../fonts/NotoSansKR-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
} */


/* 구글웹폰트 다운 https://gwfh.mranftl.com/fonts/noto-sans-sc?subsets=chinese-simplified */

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../../assets/fonts/Pretendard-Black.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Black.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../../assets/fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../../assets/fonts/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../../assets/fonts/Pretendard-Bold.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../../assets/fonts/Pretendard-SemiBold.woff2) format('woff2'), url(../../assets/fonts/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../../assets/fonts/Pretendard-Medium.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../../assets/fonts/Pretendard-Regular.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../../assets/fonts/Pretendard-Light.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Light.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../../assets/fonts/Pretendard-ExtraLight.woff2) format('woff2'), url(../../assets/fonts/Pretendard-ExtraLight.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../../assets/fonts/Pretendard-Thin.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Thin.woff) format('woff');
}